In [9]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for x in numbers:
#     print(x)
    print(x, end = '-')

1-2-3-4-5-6-7-8-9-

In [10]:
name = 'Kochi Python'

for character in name:
    print(character)

K
o
c
h
i

P
y
t
h
o
n

In [11]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}

for x in sports:
    print(x, sports[x])

A Cricket
B Football
C Hockey
D Badminton
E Kabaddi

In [18]:
total = 0
values = [1, 2, 4, 8, 16]

for v in values:
    total = total + v
    # total += v
    print(total)

print(total)

1
3
7
15
31
31

In [19]:
markList = {
    'Tintumon': 22, 
    'Dundumol': 86, 
    'Dingan': 69, 
    'Luttapi': 45
}

for person in markList:
    if markList.get(person) < 45:
        print(person, " : Failed")
        
    elif markList.get(person) > 45:
        print(person, " : Passed")
        
    else:
        print(person, ' : Just Pass' )

Tintumon  : Failed
Dundumol  : Passed
Dingan  : Passed
Luttapi  : Just Pass

In [22]:
value = 0.25
while value < 8:
    value = value * 2
    print(value)

print("final value:", value)

0.5
1.0
2.0
4.0
8.0
final value: 8.0

In [26]:
#Sum of positive integers in a list
values = [10, -5, 3, -1, 7]

total = 0
for v in values:
    if v < 0:
        continue # Skip this iteration   
    total += v

print(total)

20

In [28]:
#Print from 1 - 7
for n in range(1,10):
    if n % 2 == 0:
        break            # Quit looping at this point
    else:
        print(n)

1

In [29]:
print(list(range(10)))

print(list(range(5, 10)))

print(list(range(0, 10, 3)))

print(list(range(7, 2, -1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[0, 3, 6, 9]
[7, 6, 5, 4, 3]

In [30]:
for x in range(8):
    print(x*x)

0
1
4
9
16
25
36
49

In [31]:
squares = []
for x in range(8):
    s = x*x
    squares.append(s)
    
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49]

In [32]:
alphabets = ['A', 'B', 'C', 'D', 'E']

for index in range(len(alphabets)):
    print(index, alphabets[index])

0 A
1 B
2 C
3 D
4 E

In [33]:
alphabets = ['A', 'B', 'C', 'D', 'E']
more_alphabets = ['F', 'G', 'H', 'I', 'J']

for index in range(len(alphabets)):
    print(index, alphabets[index], more_alphabets[index])

0 A F
1 B G
2 C H
3 D I
4 E J

In [35]:
letters = ['A','B','C','D']
for index, letter in enumerate(letters):
    print(index, letter)

0 A
1 B
2 C
3 D

In [36]:
numbered_letters = list(enumerate(letters))
print(numbered_letters)

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]

In [37]:
city_pops = {
    'London': 8200000,
    'Cambridge': 130000,
    'Edinburgh': 420000,
    'Glasgow': 1200000
}

big_cities = []
for city in city_pops:
    if city_pops[city] >= 1000000:
         big_cities.append(city)

print(big_cities)

['London', 'Glasgow']

In [38]:
total = 0
for city in city_pops:
    total += city_pops[city]
print("total population:", total)

total population: 9950000

In [39]:
pops = list(city_pops.values())
print("total population:", sum(pops))

total population: 9950000